html {
  min-height: 100%;
}

body {
  background: url("/public/images/cat.jpg");
  background-size: cover;
  min-height: 100%;
  padding: 15px;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.error {
  color: #f33;
  font-weight: 300;
}

a {
  color: #3E6994;
  text-decoration: none;
  font-weight: 500;
}

.postTemplate {
  padding-top: 60px;
  min-height: initial;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;
  background: rgba(#000, .8);
  color: #fff;
  h1 {
    color: #fff;
  }
  p {
    color: #fff;
  }
}